statefulset:
  replicas: 1

storage:
  persistentVolume:
    enabled: true
    size: 5Gi

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

config:
  redpanda:
    auto_create_topics_enabled: true
    retention_bytes: 536870912
  kafka_api:
    - address: 0.0.0.0
      port: 9092
  advertised_kafka_api:
    - address: redpanda
      port: 9092