statefulset:
  replicas: 1

storage:
  persistentVolume:
    enabled: true
    size: 10Gi

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 1Gi

config:
  cluster:
    node_id: 0
    seed_servers: []
  redpanda:
    auto_create_topics_enabled: true
    enable_sasl: false
    log_segment_size: 536870912
    retention_bytes: 1073741824
