statefulset:
  replicas: 3

storage:
  persistentVolume:
    enabled: true
    size: 50Gi

resources:
  requests:
    cpu: 500m
    memory: 2Gi
  limits:
    cpu: 2
    memory: 4Gi

config:
  redpanda:
    auto_create_topics_enabled: false
    retention_bytes: 10737418240   # 10GB
    kafka_api:
      - address: 0.0.0.0
        port: 9092
    advertised_kafka_api:
      - address: redpanda
        port: 9092