{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "hapi-fhir.name" . }}
  annotations:
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host }}
      http:
        paths:
          - path: {{ .path }}
            pathType: Prefix
            backend:
              service:
                name: {{ include "hapi-fhir.name" $ }}
                port:
                  number: {{ $.Values.service.port }}
    {{- end }}
  tls:
    {{- toYaml .Values.ingress.tls | nindent 4 }}
  {{- end }}